#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=/home/deck/Applications/Slippi-Launcher/Slippi-Launcher.AppImage
Icon=/home/deck/Applications/Slippi-Launcher/icon.svg
Name=Slippi Launcher
StartupNotify=false
Terminal=false
Categories=Game;
Type=Application
